html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*------------------*/
body {
    font-family: Verdana;
}

.navbar-custom {
    background-color: #007bff;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: #ffffff;
    }

        .navbar-custom .nav-link:hover {
            color: #e0e0e0;
        }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    text-align: center;
}